/test
/Sprints-Angular-Course-master/Sprints-Angular-Course-master/multi-shop-app/.vscode/
/Sprints-Angular-Course-master/Sprints-Angular-Course-master/online-shop-website-template/
/task 4/online-shop/.vscode/
/Sprints-Angular-Course2-main/
/online-shopping(angular task)/
/practice/
